body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Color solicitado en el desafío */
p{
  color: #ccc;
}
p.footer{
  color: rgb(28, 97, 170);
  margin: 0;
}
.card-body{
  background-color: rgb(8, 93, 183);
}
.card-title{
  color: #ccc;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
